{
  "version": "2018-05-29",
  "method": "POST",
  "resourcePath": "/",
  "params": {
    "headers": {
      "content-type": "application/x-amz-json-1.1",
      "x-amz-target":"AWSEvents.PutEvents"
    },
    "body": {
      "Entries":[
        {
          "Source":"eru-appsync-events",
          "EventBusName": "default",
          "Detail":"{ \"event\": \"$ctx.arguments.event\"}",
          "DetailType":"Event Bridge via GraphQL"
        }
      ]
    }
  }
}